/conexion a app suma/appSumaConection/.vs
/conexion a app suma/appSumaConection/appSumaConection/bin
/conexion a app suma/appSumaConection/appSumaConection/obj
/conexion a app suma/appSumaConection/appSumaConection/appsettings.Development.json
/conexion a app suma/appSumaConection/appSumaConection/appsettings.json
/OdeToFood/OdeToFood/.vs
/OdeToFood/OdeToFood/OdeToFood.Data/.vs
/OdeToFood/OdeToFood/OdeToFood.Data/bin
/OdeToFood/OdeToFood/OdeToFood.Data/obj
/OdeToFood/OdeToFood/OdeToFood.Web/.vs
/OdeToFood/OdeToFood/OdeToFood.Web/bin
/OdeToFood/OdeToFood/OdeToFood.Web/obj
/OdeToFood/OdeToFood/OdeToFood.Web/Web.config
/SSR-DataTable-jQuery/SSR-DataTable-jQuery/.vs
/SSR-DataTable-jQuery/SSR-DataTable-jQuery/SSR-DataTable-jQuery/bin
/SSR-DataTable-jQuery/SSR-DataTable-jQuery/SSR-DataTable-jQuery/obj
/SSR-DataTable-jQuery/SSR-DataTable-jQuery/SSR-DataTable-jQuery/appsettings.Development.json
/SSR-DataTable-jQuery/SSR-DataTable-jQuery/SSR-DataTable-jQuery/appsettings.json
